.spinner {
  width: 100px;
  height: 100px;
  margin: 30vh auto;
}
.spinner:after {
  content: " ";
  display: block;
  width: 84px;
  height: 84px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid  #cdece2;
  border-color:  #cdece2 transparent  #cdece2 transparent;
  animation: spinner 1.2s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
